h1.welcome {
    text-align: center;

}
input.welcome {
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    display: block;
    padding: 10px;
    font-size: 24px;
    text-align: center;
}
